.header {
	display: none;
}

.mobileMenu {
	position: fixed;
	z-index: 66;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow-y: auto;
	background: #f5f6f8;
	box-sizing: border-box;
	padding: 15px;
}

.menuClose {
	position: fixed;
	top: 15px;
	right: 15px;
}

@media (max-width: 765px) {
	.header {
		display: grid;
		grid-template-columns: 1fr 40px;
		gap: 10px;
		box-sizing: border-box;
		padding: 15px 15px 0 15px;
	}
}
