.h1 {
	font-weight: 500;
	font-size: 26px;
    line-height: 26px;
	color: #3b434e;
}

.h2 {
	font-weight: 500;
	font-size: 22px;
	line-height: 32px;
	color: #3b434e;
	margin-top: 50px;
	margin-bottom: 25px;
}

.h3 {
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	color: #3b434e;
}
